<%- include('header'); -%>

<body>
    <%- include('navbar', { activePage: 'reset_password' }) %>

    <section class="container mt-5">
        <h2 class="text-center">Reset Your Password</h2>
        <form action="/reset_password" method="POST">
            <input type="hidden" name="token" value="<%= token %>">
            <div class="mb-3">
                <label for="password" class="form-label">New Password</label>
                <input type="password" name="password" class="form-control" required>
            </div>
            <div class="mb-3">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" name="confirmPassword" class="form-control" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Update Password</button>
        </form>
    </section>

</body>

<%- include('footer'); -%>
